* {
	font-family: helvetica, arial, sans-serif;
}
p, h1 {
	color: #a2bef2;
}
p {
	font-size: 24px;
}
.paragraph {
	color: red;
}

.wrap {
	color: green;
}

#heading {
	font-size: 45px;
}

a[href="http://google.com"] {
	color: red;
}