body {
	color: green;
}

.cron {
	color: rgba(255,0,0,0.5);
	font-family: Arial;
	font-size: 50px;
	text-indent: 30px;
}

.wrap {
	font-family: Arial;
	font-size: 50px;
	color: rgb(260,65,50);
}

.text {
	font-family: Arial;
	font-size: 25px;
}

.name {
	font-family: Arial;
	font-size: 35px;
	color: purple;
}

ul {
	color: blue;
}